body {
background-color: rgb(83, 376, 826);
text-align: center;
}

p {
    font-size: medium;
}

h1 {
    font-style: italic;
}

.unicornio {
  color: rgb(45, 137, 137);
}

.img1 {
  width: 60%;
}
